<a href="https://colab.research.google.com/github/Jtonil12/DSTools_project/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

#Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:


1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scikit-learn

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|Open source?|
|--|--|
|Jupyter Notebook|Yes|
|VS code|Yes|
|Spider|Yes|
|Rstudio|Yes|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

###Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#This will convert 200 minutes to hours by diving by 60
min=200
hours=min/60
print(hours, "horas")

3.3333333333333335 horas

Exercise 10 - Insert a markdown cell to list Objectives

**Objetives:**

* Markdown and code cell creation.
* Handling text styles in Markdown cells.
* Documentation of code through comments.
* Use of arithmetical operations in code cells.
* Organization of information: tables, ordered and unordered lists.
* Tools, libraries, and programming languages used in DS.

Exercise 11 - Create a markdown cell to indicate the Author's name

##Javier Landa Tonil

Author

Copyright Â©2024 IBM Corporation. All rights reserved.